body {
    font-family: 'Inter', sans-serif;
}

.gradient-text {
    background: linear-gradient(to right, #34d399, #60a5fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-icon {
    width: 48px;
    height: 48px;
}

/* Style for inline code snippets */
code.inline-code {
    font-family: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', "Liberation Mono", "Courier New", monospace;
    background-color: #374151; /* gray-700 */
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 6px;
}
